.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #dad7cd;
}

.sidebar_search {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 39px;
  margin-right: 5px;
  margin-left: 10px;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: gray;
}

.sidebar_searchContainer > input {
  border: none;
  margin-left: 10px;
  color: black;
  border-color: antiquewhite;
}
.sidebar_searchContainer > input:focus {
  outline: none !important;
}

.sidebar_searchContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  width: 95%;
  height: 35px;
  border-radius: 20px;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar_headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 20px !important;
}

.sidebarChat {
  margin: 1.5px;
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 1px solid #0c0b0b;
  background-color: #a3b18a;
}
.chatList {
  margin-top: 29px;
  text-align: center;
  background-repeat: repeat;
  background-position: center;
  background-color: #dad7cd;
  flex: 1;
  overflow-y: auto;
}
.addChat {
  display: flex;
  padding: 17.5px;
  cursor: pointer;
  border-bottom: 1px solid #0c0b0b;
  background-color: #344e41;
}
.addChat:hover {
  background-color: #0c0b0b;
}

.sidebarChat:hover {
  background-color: #344e41;
}

.sidebarChat_info > h2 {
  font-size: 16px;
  margin: 0px;
}

.sidebarChat_info > p {
  margin: 0px;
}

.sidebarChat_info {
  margin-left: 15px;
}

.add-new-chat-title {
  margin-top: 20px;
  margin: 0px 0px 0px 55px;
}

a {
  text-decoration: none;
  color: black;
}
