@import "antd/dist/antd.dark.css";

.FormPage {
  display: grid;
  text-align: center;
  background-color: #a3b18a;
  height: 100vh;
}

.Form {
  width: 600px;
  border: 1px solid #555b6e;
  border-radius: 10px;
  padding: 40px 20px;
  margin: 0 auto;
  position: fixed;
  top: 200px;
  right: 200px;
  left: 200px;
  background-color: #555b6e;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#register_form {
  width: 600px;
  border: 1px solid #555b6e;
  border-radius: 10px;
  padding: 40px 20px;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  right: 200px;
  left: 200px;
  background-color: #555b6e;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#login_button {
  background-color: #89b0ae;
  border: 1px solid #89b0ae;
  border-radius: 3px;
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}
